*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    color: #111;
    background-color: #f2f2f2;
    line-height: 1.5;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    opacity: 1;
    transition: opacity .3s;
}

img[data-src] {
    opacity: 0;
}

h1, h2, h3 {
    font-size: 1em;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    color: #fff;
    background-color: #222;
    z-index: 10;
}

.header-inner {
    max-width: 500px;
    margin: auto;
    padding: 2em;
}

.header-logo {
    margin-right: .5em;
    width: 1.3em;
    vertical-align: text-bottom;
}

/* Navigation */

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    padding: 0 .5em;
}

.nav-link {
    border-radius: 4px;
    transition: opacity .2s;
}

.nav-link:hover,
.nav-link.current {
    opacity: .6;
    text-decoration: none;
}

/* Content */

.loop-title {
    padding: 1rem 0;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
}

.loop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.loop-item {
    position: relative;
    margin-bottom: 3%;
    width: 46%;
    font-size: 1.5em;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    background-color: #eee;
}

.item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity .3s;
}

.loop-item:hover .item-title {
    opacity: 1;
}

.loop-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .loop-title {
        font-size: 3em;
    }

    .loop-item {
        width: 100%;
        margin-bottom: 4%;
    }
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 0;
    padding: 40px 0;
    max-width: 980px;
    font-size: 0.9em;
    font-weight: 300;
    color: #586069;
    border-top: 1px solid #e1e4e8;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-item {
    padding: 0 1em;
}

.footer-item:first-child {
    padding-left: 0;
}

.footer-item:last-child {
    padding-right: 0;
}

.footer-icon {
    color: #c6cbd1;
    font-size: 24px;
}

.footer-icon:hover {
    color: #959da5;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }

    .footer-icon {
        order: 3;
    }
}
