@import url('https://rsms.me/inter/inter.css');
@import 'custom.css';

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Roboto, sans-serif;
    line-height: 1.5;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    opacity: 1;
    transition: opacity .3s;
}

img[data-src] {
    opacity: 0;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

@media (min-width: 768px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-expand-md .navbar-nav .nav-item {
        padding: 0 1.3rem;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 0;
    }

    .navbar-nav .nav-link.active {
        border-bottom: 3px solid currentColor;
    }
}

/* Content */

.loop-section {
    --loop-pink: #ffadb9;
    --loop-orange: #fb956e;
}

.loop-section:nth-child(odd) {
    background-color: var(--loop-pink);
    background-image: -webkit-linear-gradient(to bottom, var(--loop-pink), var(--loop-orange));
    background-image: linear-gradient(to bottom, var(--loop-pink), var(--loop-orange));
}

.loop-section:nth-child(even) {
    background-color: var(--loop-orange);
    background-image: -webkit-linear-gradient(to bottom, var(--loop-orange), var(--loop-pink));
    background-image: linear-gradient(to bottom, var(--loop-orange), var(--loop-pink));
}

.loop-heading {
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.loop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.loop-item {
    position: relative;
    margin-bottom: 3%;
    width: 46%;
    font-size: 1.3rem;
    text-decoration: none;
    z-index: 1;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.loop-item a:focus {
    display: block;
    box-shadow: 0 0 0 .4rem rgba(38, 143, 255, .3);
    transition: box-shadow .2s;
}

.loop-item:hover .item-caption {
    opacity: 1;
}

.loop-image {
    width: 100%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

@media screen and (max-width: 900px) {
    .loop-item {
        width: 100%;
        margin-bottom: 4%;
    }
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    margin: 40px auto 0;
    padding: 40px 0;
    max-width: 980px;
    color: #586069;
    border-top: 1px solid #e1e4e8;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-item {
    margin: 0 2rem;
}

.footer-item:first-child {
    margin-left: 0;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-icon {
    color: #c6cbd1;
    font-size: 24px;
}

.footer-icon:hover {
    color: #959da5;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }

    .footer-icon {
        order: 3;
    }
}

.icon-inline {
    font-size: 1.1rem;
    height: 1.05rem;
    vertical-align: text-bottom;
}

.rotate-45 {
    transform: rotate(45deg);
}