@import url('https://rsms.me/inter/inter.css');

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: #000;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    opacity: 1;
    transition: opacity .3s;
}

img[data-src] {
    opacity: 0;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    font-size: .875rem;
    z-index: 10;
}

/* Navbar */

.navbar {
    border-bottom: 1px solid #ccc;
}

.nav-item:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.nav-link {
    padding: 1rem 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    transition: color .2s;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .6);
}

/* Responsive navbar */

.navbar-toggler {
    padding: calc(30px / 2 - 1px) 0;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler {
    border: 0;
}

.navbar-toggler-icon {
    position: relative;
    display: block;
    height: 1px;
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    position: absolute;
    left: 15%;
    width: 70%;
    height: 1px;
}

.navbar-toggler-icon::before {
    top: -4px;
    transition: transform .15s, top .15s;
}

.navbar-toggler-icon::after {
    bottom: -4px;
    transition: transform .15s, bottom .15s;
}

.navbar-light .navbar-toggler-icon::before,
.navbar-light .navbar-toggler-icon::after {
    background-color: #000;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    top: 0;
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    bottom: 0;
    transform: rotate(-45deg);
}

@media (min-width: 768px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-expand-md .navbar-nav .nav-item {
        padding: 0 1.3rem;
        border: 0;
    }

    .navbar-nav .nav-link.active {
        border-bottom: 3px solid currentColor;
    }
}

/* Content */

.loop-section {
    padding: 1rem;
}

@media (min-width: 768px) {
    .loop-section {
        padding: 0 2rem;
    }
}

.loop-heading {
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.loop-steps {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 3%;
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.loop-step-item {
    font-size: 1.3rem;
    text-decoration: none;
    z-index: 1;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .loop-steps {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3rem;
    }
}


.loop-step-link {
    display: block;
    border-radius: 7px;
    transition: transform .2s;
}

.loop-step-link:hover {
    color: currentColor;
    transform: scale(1.03);
}

.loop-step-link:focus {
    box-shadow: 0 0 0 .4rem rgba(38, 143, 255, .3);
    transition: box-shadow .2s;
    outline: none;
}

.loop-step-image {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.loop-step-subcaption {
    margin-bottom: .3rem;
    font-size: 1rem;
    color: #888;
}

.loop-step-caption {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.02em;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    margin: 40px auto 0;
    padding: 40px 0;
    max-width: 980px;
    color: #586069;
    border-top: 1px solid #e1e4e8;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-item {
    margin: 0 2rem;
}

.footer-item:first-child {
    margin-left: 0;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-icon {
    color: #c6cbd1;
    font-size: 24px;
}

.footer-icon:hover {
    color: #959da5;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }

    .footer-icon {
        order: 3;
    }
}

.icon-inline {
    font-size: 1.1rem;
    height: 1.05rem;
    vertical-align: text-bottom;
}

.rotate-45 {
    transform: rotate(45deg);
}
