*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    border-bottom: 1px solid #e5e5e5;
}

.site-logo {
    width: 60px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    padding: 0 1em;
}

.js-nav-link {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: .5px;
}

.content {
    display: flex;
    padding: 50px 100px;
}

.image {
    width: 100%;
}

.side {
    width: 40%;
    position: relative;
    background: #f7f7f7;
    border-radius: 2px;
}

.side--number {
    margin-bottom: 1em;
    text-align: center;
    line-height: .8em;
    font-size: 18em;
    font-weight: 500;
    color: #EA4035;
}

.side--preview {
    position: absolute;
    top: 160px;
    left: -100px;
    width: 400px;
}

.preview-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    color: white;
    background: #5737EE;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity .15s;
}

.preview-button:hover {
    opacity: .9;
}

.preview-button.heel {
    top: 60px;
    left: 100px;
}

.preview-button.midsole {
    top: 180px;
    left: 170px;
}

.preview-button.uppers {
    top: 220px;
    left: 310px;
}

.side--dots-container {
    position: absolute;
    left: 50%;
    bottom: 30px;
}

.side--dots {
    margin-left: -50%;
}

.side--dot {
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    opacity: .7;
    transition: opacity .15s;
    cursor: pointer;
}

.side--dot.selected,
.side--dot:hover {
    opacity: 1;
}

.card {
    width: 60%;
    padding: 0 5%;
    background: white;
    border-radius: inherit;
}

.shoe-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.shoe-type,
.shoe-price {
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
}

.shoe-price {
    right: 0;
}

.shoe-name {
    margin-bottom: .2em;
    font-size: 2.5em;
    font-weight: 500;
}

.shoe-description {
    line-height: 1.5em;
    margin-bottom: 3em;
}

/* Sizes section */

.sizes-section {
    margin-bottom: 50px;
}

.sizes-title {
    margin-bottom: 1em;
    font-family: Oswald, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sizes-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
    grid-gap: 1px;
}

.value {
    display: inline-flex;
}

.sizes-table input {
    display: none;
}

.checkmark {
    padding: 1em;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0 1px #e5e5e5;
    border: 1px solid transparent;
}

.checkmark:hover {
    border-color: #111;
}

input:checked ~ .checkmark {
    color: white;
    background-color: #111;
    border-color: #111;
}


.card--button {
    font-family: Oswald, sans-serif;
    font-size: 1em;
    padding: .8em 4em;
    text-transform: uppercase;
    color: white;
    background-color: #111;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: background-color .15s;
}

.card--button:focus,
.card--button:hover {
    background-color: #333;
}