*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background: #CAF8FE;
}

.root {
    width: 80%;
    margin: 50px auto;
}

.frame {
    display: flex;
    background: white;
}

.side {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40%;
    color: white;
    background: url("img/background.jpg") no-repeat center;
    background-size: cover;
    z-index: 1;
}

.side::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.side--subtitle {
    margin: 1em 0 2em;
}

.side--button {
    padding: 1em 2em;
    color: white;
    text-decoration: none;
    background: rgba(102, 205, 170, 0.7);
    border-radius: 2em;
    transition: background .2s;
}

.side--button:hover {
    background: rgba(102, 205, 170, 1);
}

.button--image {
    display: inline-block;
    vertical-align: text-bottom;
}

.container {
    width: 60%;
    padding: 50px;
    overflow: scroll; /* responsive detail */
}

.title {
    font-size: 2.2em;
    font-weight: 500;
}

.content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content--menu {
    width: 2em;
    cursor: pointer;
}

.content--years-tab {
    position: relative;
    margin: 2em 0;
}

.content--years-tab::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -20px 0 30px white inset;
    pointer-events: none;
}

.content--years {
    display: flex;
    overflow: scroll;
}

/* Scrollbar customisation */

.content--years::-webkit-scrollbar,
.content--years::-webkit-scrollbar-track,
.content--years::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.content--years:hover::-webkit-scrollbar,
.content--years:hover::-webkit-scrollbar-track,
.content--years:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

/* width */
.content--years::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* track */
.content--years::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* handle */
.content--years::-webkit-scrollbar-thumb {
    background: #afd7dc;
}

/* handle on hover */
.content--years::-webkit-scrollbar-thumb:hover {
    background: #a9cfd4;
}

.year {
    padding-right: 1em;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    opacity: .3;
    transition: opacity .2s;
}

.year.active,
.year:hover {
    opacity: 1;
}

.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.article--title {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.article--avatar {
    vertical-align: middle;
    --avatar-size: 3em;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.article--title-text {
    margin-left: 1em;
    margin-right: 1em;
}

.article--date {
    display: flex;
    height: 100%;
}

.date--day {
    font-size: 2.8em;
    font-weight: lighter;
    line-height: 100%;
}

.date--month-year {
    margin-left: 1em;
}

.date--month {
    font-weight: 700;
    text-transform: uppercase;
}