*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #333333;
    background: #FED161;
}

.container {
    width: 100%;
    padding-top: 50px;
}

.heading {
    font-weight: 700;
    margin-bottom: 1em;
}

.link {
    color: currentColor;
}

.main-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    width: fit-content;
}

.list--title {
    font-size: 2em;
}

.list--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-basis: 50%;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 1;
}

.item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .3s;
}

.item:hover .background {
    transform: scale(1.1);
}