*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    --dark-color: #484956;
    --secondary-color: #e17b65;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #333333;
    line-height: 1.9;
}

.container {
    width: 100%;
}

.header {
    color: white;
    background: #484956;
}

.heading {
    margin: 0;
    text-align: center;
    font-weight: 500;
}

.link, .link:visited {
    position: relative;
    display: inline-block;
    padding: 0 1px;
    text-decoration: none;
    color: currentColor;
    transition: color ease .3s;
    z-index: 1;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: .1em;
    min-height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: all ease 0.3s;
    z-index: -1;
}

.link:hover {
    color: white;
}

.link:hover::after {
    height: 100%;
}

.main-title {
    font-size: 3em;
    padding: 1.3em 0;
}

.loop--title {
    font-size: 2.3em;
    padding: 1em 0;
    color: white;
    background: var(--secondary-color);
}

.loop--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 375px;
    flex-basis: 50%;
    font-size: 1.5em;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.item--title {
    padding: 0 .8em;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 800px) {
    .item {
        flex-basis: 100%;
    }
}

.background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .3s;
}

.item:hover .background {
    transform: scale(1.1);
}

.footer {
    padding: 4em 0;
    font-weight: 300;
    color: white;
    background: #484956;
    text-align: center;
}

.footer--element {
    padding: 0 2em;
    border-right: 1px solid white;
}

.footer--element:last-child {
    border: none;
}