*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: white;
    background: #DB8B89;
}

.content {
    width: 900px;
    margin: 50px auto;
}

.fibres {
    display: flex;
}

.fibre {
    padding-right: 1em;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .4;
    transition: opacity .2s;
    cursor: pointer;
}

.fibre:hover {
    opacity: .7;
}

.fibre.current {
    opacity: 1;
}

.tip {
    width: 75%;
    margin: 2em 0 4em;
}

.interface {
    position: relative;
}

.parameters {
    display: flex;
    position: relative;
}

.interface--parameter {
    width: 333px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.interface--parameter.timer {
    background: #3E3B3C;
}

.interface--parameter.temperature {
    background: #343232;
}

.interface--parameter.load {
    background: #201D1E;
}

.parameter--title {
    font-size: 1.3em;
    margin-bottom: .5em;
    color: #DB8B89;
}

.parameter--value {
    font-size: 2em;
    font-weight: 500;
}

button {
    outline: none;
    background: none;
    border: none;
}

.button--select {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    height: 100px;
    opacity: .4;
    transition: opacity .2s;
    cursor: pointer;
}

.button--select:hover {
    opacity: .7;
}

.button--select::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background: url("img/arrow-drop-up.svg");
    background-size: 100%;
    background-position: center;
}

.button--back {
    left: -100px;
}

.button--back::after {
    transform: rotate(-90deg);
}

.button--forward {
    right: -100px;
}

.button--forward::after {
    transform: rotate(90deg);
}

.button--start {
    position: absolute;
    left: 20px;
    bottom: -30px;
    padding: 20px 0;
    min-width: 250px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    background-color: black;
    transition: transform .2s;
    cursor: pointer;
}

.button--start:hover {
    transform: translateY(-5px);
}
