*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    --line-colour: #efefef;
    --blue: #62B6E4;
    --dark-blue: #59a3cd;
    --light-blue: #e5f5fa;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #333333;
}

.container {
    border-bottom: 1px solid var(--line-colour);
}

.container.main,
.footer {
    background: #F7F8FA;
}

.main .content {
    display: flex;
    align-items: flex-start;
}

.content {
    width: 1100px;
    margin: auto;
}

.link {
    text-decoration: none;
    color: var(--blue);
}

.link:hover {
    text-decoration: underline;
}

.avatar {
    border-radius: 50%;
}

.avatar.small {
    width: 40px;
    height: 40px;
}

.avatar.big {
    width: 120px;
    height: 120px;
}

.block,
.aside--section {
    margin: 1em .5em .5em;
}

.block {
    background: white;
    border: 1px solid var(--light-blue);
}

.author-badge {
    display: flex;
    align-items: center;
}

.author-badge--info {
    margin-left: 1em;
    font-size: .9em;
}

.author-badge--name {
    font-weight: 500;
    margin-bottom: .4em;
}

.author-badge--company {
    font-size: .9em;
    color: darkgray;
}

.footer {
    padding: 2em;
    text-align: center;
}