*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    --base-color: #DC6E4C;
    --secondary-color: #AD5B88;
}

body {
    margin: 0;
    background: #7AACCB;
    font-family: Roboto, sans-serif;
}

.container {
    width: 400px;
    margin: 200px auto;
}

.calendar {
    background: white;
}

.cal--header,
.cal--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.cal--header {
    color: #777d8c;
}

.cal--core {
    padding: 1.5em 1em;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.cal--table {
    display: table;
    width: 100%;
    margin: auto;
    font-size: .9em;
    text-align: center;
}

.cal--row {
    display: table-row;
}

.cal--day-name,
.cal--day {
    display: table-cell;
}

.cal--day-name {
    font-weight: bold;
    color: #777d8c;
    text-transform: uppercase;
}

.cal--day {
    padding: .5em;
}

.cal--value {
    display: inline-block;
    position: relative;
    --value-size: 2.5em;
    width: var(--value-size);
    height: var(--value-size);
    line-height: var(--value-size);
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.today {
    color: white;
    background: var(--base-color);
}

.badge-1 {
    border-color: var(--base-color);
}

.badge-2 {
    border-color: var(--secondary-color);
}

.badge-1::after,
.badge-2::after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: .7em;
    --badge-size: 1.6em;
    width: var(--badge-size);
    height: var(--badge-size);
    line-height: var(--badge-size);
    top: calc(var(--badge-size) / 3 * -1);
    right: calc(var(--badge-size) / 3 * -1);
    color: white;
    border-radius: 50%;
}

.badge-1::after {
    content: '6';
    background: var(--base-color);
}

.badge-2::after {
    content: '5';
    background: var(--secondary-color);
}

.previous-month {
    opacity: .2;
}

.cal--footer {
    font-size: .9em;
}

.footer--value {
    font-size: .8em;
    font-weight: 500;
}

.cal--footer .cal--value {
    border-color: var(--base-color);
}
