html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0 5%;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background: url("img/background.jpg") no-repeat center;
    background-size: cover;
}

.frame {
    overflow: hidden; /* for the button not to expand the frame */
    margin: 100px auto;
    padding-top: 1.5em;
    max-width: 400px;
    background: white;
    border-radius: 1rem;
    text-align: center;
}

.dots {
    display: flex;
    justify-content: center;
}

.dot {
    margin-right: 8px;
}

.dot:last-child {
    margin-right: 0;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #DEDEDE;
}

.dot.active {
    background: #aaa;
}

.payment-title {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    letter-spacing: -.02em;
}

.payment-title {
    font-weight: 600;
}

.payment-methods {
    text-align: left;
}

.payment-method {
    display: block;
    position: relative;
    padding: 1.5rem 0 1.5rem 5rem;
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: background-color .15s;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/* Hide the default radio button */
.payment-methods input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.payment-method:hover {
    background-color: #f1f1f1;
}

.payment-method::before {
    content: '';
    left: 1em;
    width: 2.5rem;
    height: 100px;
}

.payment-method::before,
.checkmark {
    position: absolute;
    top: 0;
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.payment-method::after {
    right: 1em;
    width: 20px;
}

.payment-method.visa::before {
    background-image: url('img/visa.svg');
}

.payment-method.mastercard::before {
    background-image: url('img/mastercard.svg');
}

.payment-method.maestro::before {
    background-image: url('img/maestro.svg');
}

.checkmark {
    right: 1em;
    width: 20px;
}

input:checked + .payment-method > .checkmark {
    background-image: url('img/check.svg');
}

input:checked + .payment-method {
    color: #000;
}

.next-step-button,
.next-step-button:visited {
    display: block;
    width: 100%;
    padding: 1em 0;
    color: white;
    background-color: #5b8dda;
    text-decoration: none;
    transition: background-color .15s;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.next-step-button::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .3em;
    margin-bottom: -.2em;
    background: url("img/arrow.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.next-step-button:hover {
    background-color: #517ec3;
}

.next-step-button:active {
    transform: translateY(2px);
}