:root {
    --line-color: #ccc;
    --main-color: #6D97D6;
    --sender-color: #bedbf6;
    --receiver-color: #eee;
    --alert-color: #FDC2C2;
    --message-radius: 1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #CDDCE8, #92AFC8);
    background-repeat: no-repeat;
}

.frame {
    height: 100%;
    background-color: white;
}

.frame-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    color: white;
    background-color: var(--main-color);
}

.frame-header-title {
    position: relative;
    margin: 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.frame-header-title::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 1em;
    margin-bottom: .1em;
    background-color: white;
    border-radius: 100%;
}

.btn-close {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    background-image: url("img/close.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.7;
    transition: .2s;
}

.btn-close:hover {
    opacity: 1;
    cursor: pointer;
}

.frame-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 78px); /* minus header height */
    overflow: hidden;
}

.frame-messages {
    padding-bottom: calc(53px + 1rem);
    overflow: scroll;
}

.frame-messages,
.frame-input {
    padding-left: 1rem;
    padding-right: 1rem;
}

.date {
    display: flex;
    align-items: center;
}

.date--text {
    margin: 0 1em;
    color: #aaa;
}

.date--line {
    width: 100%;
    height: 1px;
    background-color: var(--line-color);
}

.block {
    margin-top: 1.5rem;
    padding: .8rem;
    width: fit-content;
    max-width: 75%;
}

.block p {
    margin: 0;
}

.block.sender {
    margin-left: auto;
    border-radius: var(--message-radius) .2rem var(--message-radius) var(--message-radius);
}

.block.receiver {
    border-radius: .2rem var(--message-radius) var(--message-radius);
}

.message {
    position: relative;
    margin-top: 3em;
}

.message.sender {
    background-color: var(--sender-color);
}

.message.receiver {
    background-color: var(--receiver-color);
}

.message--date {
    position: absolute;
    top: -1.5em;
    font-size: .8rem;
    color: darkgray;
}

.sender .message--date {
    right: 0;
}

.receiver .message--date {
    left: 0;
}

.alert {
    background-color: var(--alert-color);
}

.frame-input {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-shrink: 0;
    background-color: #fff;
    border-top: 1px solid var(--line-color);
}

.input--message,
.input--send {
    font-size: 1em;
    outline: none;
}

.input--message {
    width: 100%;
    margin-right: 1rem;
    border: none;
}

.input--send {
    padding: 0;
    background: none;
    font-weight: 500;
    color: var(--main-color);
    border: none;
    cursor: pointer;
}

@media (min-width: 768px) {
    html, body {
        min-height: 500px;
    }

    body {
        padding: 5rem 0;
    }

    .frame {
        max-width: 60%;
        margin: auto;
        border-radius: 1rem;
        overflow: hidden;
    }
}
