.header {
    display: flex;
    justify-content: space-between;
}

.header--component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid var(--line-colour);
}

.header--component:last-child {
    border-right: none;
}

.header--search {
    position: relative;
}

.header--search-icon {
    position: absolute;
    display: inline-block;
    top: .3em;
    right: .5em;
}

.header--search-bar {
    font-size: .8em;
    padding: .8em;
    border-radius: 2em;
    border: 1px solid var(--line-colour);
    outline: none;
}

.header--search-bar:focus {
    border-color: darkgray;
}

.header--link {
    padding: 0 1em;
    transition: transform .15s;
}

.header--link:hover {
    transform: translateY(-.2em);
}

.header--menu-item {
    text-decoration: none;
    color: currentColor;
}

.header--menu-item.highlighted {
    color: coral;
}

.header--link.comment {
    color: mediumseagreen;
}

.header--link.alert {
    color: gold;
}

.header--link.add {
    color: darkorchid;
}

.header--logo {
    width: 40px;
    height: 40px;
}