.navigation {
    display: flex;
    overflow: hidden;
}

.nav--item {
    font-size: .9em;
    position: relative;
    padding: 1em 1.5em;
    margin-right: 1em;
    color: currentColor;
    text-decoration: none;
}

.nav--item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--blue);
    opacity: .7;
    transition: transform .15s;
}

.nav--item.current::after {
    opacity: 1;
}

.nav--item.current::after,
.nav--item:hover::after {
    transform: translateY(-2px);
}