.profile {
    width: 20%;
}

.profile--header,
.profile--box {
    padding: 1em;
}

.profile--header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile--title {
    margin: 10px 0 5px;
    font-size: 1.3em;
    font-weight: 500;
}

.profile--subtitle {
    margin-bottom: 5px;
    font-size: .9em;
}

.profile--subtitle.disabled {
    color: darkgray;
}

.profile .default-button {
    width: 100%;
}

.profile .default-button {
    margin: 5px 0;
}

.profile--section.separated {
    border-top: 1px solid var(--line-colour);
}

.profile--section.splitted {
    display: flex;
}

.profile--box.splitted {
    width: 50%;
    text-align: center;
}

.profile--box.splitted:first-child {
    border-right: 1px solid var(--line-colour);
}

.stats--value {
    font-weight: 500;
}

.stats--title {
    color: darkgray;
}

.profile--link {
    font-size: .8em;
    color: darkgray;
}

.profile--link-wrapper {
    display: flex;
    margin: .5em 0;
}

.profile--link-icon {
    font-size: 1em;
    vertical-align: middle;
    color: darkgray;
}

.profile--link {
    margin-left: .5em;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile--link:hover {
    text-decoration: underline;
}