html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    background: url("img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 400px;
    margin: 100px auto;
}

.card {
    padding: 3em 2em 2em;
    background: white;
    border-radius: 5px;
}

.airports {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3em;
}

.separator {
    position: absolute;
    top: 50%;
    left: 50%;
}

.separator::after {
    content: '';
    display: block;
    position: relative;
    left: -50%;
    height: 5px;
    width: 30px;
    background-color: #D4E6F3;
}

.airport.right {
    text-align: right;
}

.airport--code {
    margin: 0 0 -.2em;
    font-family: Prompt, sans-serif;
    font-size: 3em;
    color: #3F8BCC;
}

.airport--name {
    margin: 0;
    font-size: .9em;
    text-transform: uppercase;
    color: darkgray;
}

.flight-info {
    width: 100%;
    border-collapse: collapse;
}

.flight-info th {
    padding: 0;
    text-align: left;
    font-weight: normal;
    font-size: .8em;
    text-transform: uppercase;
    color: darkgray;
}

.flight-info tr:nth-child(1) th:nth-child(2),
.flight-info tr:nth-child(2) td:nth-child(2) {
    text-align: center;
}

.flight-info tr:nth-child(1) th:last-child,
.flight-info tr:nth-child(2) td:last-child {
    width: 50%;
    text-align: center;
}

.flight-info td {
    padding: 0 0 1em;
}

.flight-info img {
    width: 150px;
}

.qr {
    text-align: right;
}