body {
    margin: 0;
    padding: 0 3%;
    font-family: 'Inter', sans-serif;
    background-color: #7b9dce;
}

.frame {
    margin: 5rem auto 0;
    display: flex;
    padding: 5rem;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
}

.item {
    padding: 1em 2em;
    width: 33.33%;
    text-decoration: none;
    color: inherit;
    border-radius: .8rem;
    transition: background-color .2s;
    cursor: pointer;
}

.item:hover {
    background-color: #f5f5f5;
}

.item--image {
    width: 5em;
}

.item--title {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: -.02em;
}

.item--price {
    color: #4e68bc;
}

.item--description {
    color: #A8A7A7;
}

.item--price {
    font-size: 2em;
    font-weight: 500;
}

.item--price-month {
    font-size: .6em;
}

.item--price-month {
    margin-left: .2em;
    font-weight: initial;
}

@media (max-width: 900px) {
    body {
        padding: 1rem;
    }

    .frame {
        margin: 0;
        padding: 1rem;
        flex-direction: column;
    }

    .item {
        width: auto;
        margin: 0;
        padding: 1rem;
    }
}
