html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
