@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    --pink: #ff2d55;
    --pink-alt: #ff375f;
}

body {
    margin: 0;
    font-family: system-ui, Arial, sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 1.7;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    background-color: rgba(240, 240, 240, .8);
    z-index: 2;
}

.header--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: auto;
    height: 100%;
    font-size: .875rem;
}

.header--logo {
    width: 1rem;
    height: 2rem;
    background-image: url('../img/logo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav--item {
    margin-right: 3rem;
}

.nav--item {
    color: currentColor;
    padding-bottom: 1em;
    text-decoration: none;
    transition: opacity .2s;
}

.nav--item:hover {
    opacity: .7;
}

.nav--help {
    padding: .5rem;
    line-height: 1;
    outline: none;
    font-size: inherit;
    border: none; /* clear default borders */
    border-radius: 4px;
    background-color: #ddd;
    transition: background-color .4s;
}

.nav--help:focus {
    background-color: #bbb;
}

.section {
    padding: 3rem 2rem;
}


@media screen and (max-width: 767px) {
    .section {
        padding: 4.5rem 1rem;
        text-align: center;
    }
}

.bg-light {
    background-color: #fafafa;
}

.section.top {
    position: relative;
    overflow: hidden;
}

.section.top::after {
    content: '';
    position: absolute;
    right: -25%;
    bottom: -100px;
    width: 700px;
    height: 100%;
    background: url("../img/watches.jpg");
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1;
}

@media screen and (max-width: 767px) {
    .section.top {
        padding-top: 8rem;
    }

    .section.top::after {
        display: none;
    }
}

.block {
    max-width: 980px;
    margin: auto;
    display: flex;
    align-items: center;
}

.block.right {
    justify-content: flex-end;
}

.block--illustration {
    width: 50%;
}

img {
    width: 100%;
}

.block--content {
    width: 50%;
    margin: 9rem 0;
    padding-right: 100px;
}


@media screen and (max-width: 767px) {
    .block--content {
        width: 100%;
        margin: 0;
        padding-right: 0;
    }

    .block--illustration {
        display: none;
    }
}

.content--title {
    margin-bottom: 2rem;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.1;
}

.content--quote {
    margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
    .content--title {
        font-size: 2rem;
    }
}

.descriptions {
    align-items: flex-start;
    justify-content: space-between;
}

.description {
    width: 28%;
}

.description--title {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.1;
}

.description-text {
    position: relative;
    margin-bottom: 1em;
}

.description-text.more::after {
    content: '...';
    position: absolute;
    left: -.05em; /* adjustement */
    bottom: -1em;
    font-size: 5em;
    font-weight: 300;
    color: darkgray;
}

.description-text.more {
    margin-bottom: 3rem;
}

.learn-more {
    text-decoration: none;
    color: #0070c9;
}

.learn-more::after {
    content: 'chevron_right';
    display: inline-block;
    padding-left: .1em;
    vertical-align: text-bottom;
    font-family: 'Material Icons';
    line-height: 1;
}

.learn-more:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .descriptions {
        flex-direction: column;
    }

    .description {
        width: 100%;
        margin-bottom: 3rem;
    }

    .description-text.more::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

.background .content--title,
.background .content--quote {
    color: white;
}

.background .content--quote {
    border-color: white;
}

.button {
    padding: .8em 1em;
    font-size: .875rem;
    text-decoration: none;
    color: white;
    background-color: var(--pink);
    border-radius: 4px;
    transition: background .2s;
}

.button:hover {
    background-color: var(--pink-alt);
}

.background {
    position: relative;
    background: url("../img/runners.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.background::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.footer {
    font-size: .75rem;
    color: #888;
    background-color: #f2f2f2;
}