*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    --custom-red: #E8635F;
    --custom-dark-red: #d55b57;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: #111;
}

.section {
    padding: 3em 2em;
    min-height: 100vh;
}

.section.separated {
    border-top: 1px solid gainsboro;
}

.top {
    position: relative;
    overflow: hidden;
}

.top::after {
    content: '';
    position: absolute;
    right: -25%;
    bottom: -100px;
    width: 700px;
    height: 100%;
    background: url("../img/watches.jpg");
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1;
}

.block {
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.nav--item,
.nav--help {
    margin: 0 1em;
}

.nav--item {
    color: darkgray;
    padding-bottom: 1em;
    text-decoration: none;
    transition: color .2s, border-bottom-color .2s;
    border-bottom: 2px solid transparent;
}

.nav--item:hover {
    border-color: gray;
    color: #111;
}

.nav--help {
    padding-bottom: .3em;
    outline: none;
    font-size: inherit;
    border: none; /* clear default borders */
    border-bottom: 1px solid gray;
}

.nav--help:focus {
    border-color: #111;
}

.block.right {
    justify-content: flex-end;
}

.block--illustration {
    width: 50%;
}

img {
    width: 100%;
}

.block--content {
    width: 50%;
    margin: 150px 0;
    padding-right: 100px;
}

.content--title {
    margin-bottom: .8em;
    font-size: 3.5em;
    font-weight: 600;
}

.content--quote {
    margin-bottom: 4em;
    line-height: 1.6;
}

.descriptions {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
}

.description {
    width: 28%;
}

.description--title {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 600;
}

.description-text {
    position: relative;
    line-height: 1.9;
    margin-bottom: 1em;
}

.description-text.more::after {
    content: '...';
    position: absolute;
    left: -.05em; /* adjustement */
    bottom: -1em;
    font-size: 5em;
    font-weight: 300;
    color: darkgray;
}

.learn-more {
    text-decoration: none;
    color: var(--custom-red);
}

.learn-more::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2em;
    height: 2px;
    margin-right: 1em;
    background-color: var(--custom-red);
    transition: width .2s;
}

.learn-more:hover::before {
    width: 3em;
}

.background .content--title,
.background .content--quote {
    color: white;
}

.background .content--quote {
    border-color: white;
}

.button {
    padding: .8em 1.5em;
    text-decoration: none;
    color: white;
    background-color: var(--custom-red);
    border-radius: 2px;
    transition: background .2s;
}

.button:hover {
    background-color: var(--custom-dark-red);
}

.background {
    position: relative;
    background: url("../img/runners.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.background::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}