:root {
    --blue: #5C82EC;
    --blue-light: #a4c1ff;
}

.icon-sprite {
    width: 0;
    height: 0;
    display: none;
}

svg {
    fill: currentColor;
}

body {
    font-family: Roboto, sans-serif;
    background: #293246;
}

.container {
    width: 1000px;
    margin: 50px auto;
}

.frame {
    display: flex;
    padding: 40px;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 7%;
    margin-right: 3%;
}

.side--icons {
    color: #ccc;
    border-right: 1px solid #ccc;
}

.side--buttons {
    padding: 40px 0;
}

.logo {
    color: var(--blue);
    cursor: pointer;
}

.side-button {
    position: relative;
    display: block;
    margin: 20px 0;
    cursor: pointer;
    transition: color .15s;
}

.side-button::after {
    content: '';
    position: absolute;
    right: 0;
    vertical-align: middle;
    width: 2px;
    height: 100%;
    background: var(--blue);
    transform: scale(0);
    transition: transform .15s;
}

.side-button.active::after,
.side-button:hover::after {
    transform: scale(1);
}

.side-button.active,
.side-button:hover {
    color: var(--blue);
}

.icon {
    width: 35px;
    height: 35px;
    margin: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border: 2px solid var(--blue);
    border-radius: 50%;
}

.container {
    width: 90%;
}

.subtitle {
    color: #aaa;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 2em;
}

.title {
    font-size: 4em;
    font-weight: 700;
}

.button {
    padding: .5em 2em;
    font-weight: 500;
    color: var(--blue);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--blue-light);
    transition: border-color .15s;
}

.button:hover {
    border-color: var(--blue);
}

.grid--row {
    display: flex;
    justify-content: space-between;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: 250px;
    background: no-repeat center;
    background-size: cover;
}

.image.double {
    width: 66.66%;
}

.image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blue);
    opacity: 0;
    transition: opacity .2s;
    z-index: 0;
}

.image--actions {
    opacity: 0;
    transition: opacity .2s;
    z-index: 1;
}

.image:hover::after {
    opacity: .3;
}

.image:hover .image--actions {
    opacity: 1;
}

.image--action {
    margin: 0 10px;
    color: white;
    opacity: .7;
    transition: opacity .15s;
    cursor: pointer;
}

.image--action:hover {
    opacity: 1;
}