html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
}

.frame {
    display: flex;
    padding: 0 10%;
    text-align: center;
    background-color: white;
}

.item {
    padding: 1em 2em;
    width: 33.33%;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    transition: background-color .1s;
    cursor: pointer;
}

.item:hover {
    background-color: #f5f5f5;
}

.item--image {
    width: 5em;
    margin-bottom: 1em;
}

.item--title {
    font-size: 2em;
    font-weight: 600;
}

.item--price {
    color: #5775D3;
}

.description {
    font-size: .8em;
    color: #A8A7A7;
}

.item--price {
    font-size: 2em;
    font-weight: 500;
}

.item--price-month, .item--currency {
    font-size: .6em;
}

.item--price-month {
    margin-left: .2em;
    font-weight: initial;
}