<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="FrontLoops resolutions.">

    <!-- Open Graph Protocol -->
    <meta property="og:image"
          content="{{ '/images/icon.png' | prepend: site.baseurl }}">
    <meta property="og:title" content="Frontloops">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="FrontLoops resolutions.">
    <meta property="og:url"
          content="https://glascode.github.io/frontloops/">

    <title>Frontloops resolutions</title>

    <link rel="icon" type="image/png" href="images/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
</head>

<body>
<header class="header">
    <nav class="navbar navbar-expand-md navbar-light bg-white">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img class="navbar-brand-icon" src="images/icon.png" alt="icon">
            Frontloops</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar"
                aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                {% for loop in site.data.loops %}
                <li class="nav-item">
                    <a class="nav-link js-nav-link"
                       data-toggle="collapse" data-target="#navbar"
                       href="#loop-{{ forloop.index }}">Loop&nbsp;{{ forloop.index }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://github.com/Glascode/frontloops">
                        Source
                        <i class="material-icons-round icon-inline rotate-45">arrow_upward</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://frontloops.io">
                        Frontloops
                        <i class="material-icons-round icon-inline rotate-45">arrow_upward</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="main">
    {{ content }}
</main>

<footer class="footer">
    <div><a href="{{ site.url }}">Maël Querré</a>, 2019</div>
</footer>

<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="js/main.js"></script>
</body>
</html>
